<h1>Compare <%= @chart.teams[0].abbr %> and <%= @chart.teams[1].abbr %></h1>

<%= render partial: "shared/search_form" %>	

<div id="container" style="width:100%; height:600px;"></div>

<script>
$(function () { 
    $('#container').highcharts({
        chart: {
            type: '<%= @chart.main_chart %>'
        },
        title: {
            text: 'Salary Comparison'
        },
        xAxis: {
            categories: <%== @chart.teams_arr %>
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Salary'
            },
             stackLabels: {
                enabled: true,
                formatter: function () {
                    return '$' + Highcharts.numberFormat(this.total, 0, '.', ',');
                },
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
        	align: "center"
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': $' + Highcharts.numberFormat(this.y, 0, '.', ',') + '<br/>' +
                    'Total: $' + Highcharts.numberFormat(this.point.stackTotal, 0, '.', ',');
            }
        },
        plotOptions: {
            series: {
                stacking: 'normal',
                dataLabels: {
                	enabled: true,
                	formatter: function () {
		                if (this.y > 0 ){
		                	return this.series.name
		                }
		            }
                }
            }
        },    
         series: [
         	<%== series_data %>
        ]
    });
});
</script>
